/* "auto" makes the left and right margins center the wrapper */
#wrap { 
	width: 900px; 
	margin: 0 auto; 
}

#content { 
    margin-left: 10px;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

p { 
   font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
   line-height: 1.4em;
}

A:visited 
{
  color: #6d6e70;
}

.navbar 
{ 
  margin-top: 10px;
  margin-left: 12px;
  
  padding-bottom: 5px;

  border-bottom-style:solid;
  border-bottom-width:1px;
  border-bottom-color: #c6c6c6;

}

.navbar A
{ 
  margin-right: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #6d6e70;
}

.navbar A:hover
{ 
  text-decoration: underline;
}

blockquote { 

  border-left-style:solid;
  border-left-width:1px;
  border-left-color: #c6c6c6;

  padding-left: 5px;

}

.footer
{ 

  border-top-style:solid;
  border-top-width:1px;
  border-top-color: #c6c6c6;

  margin-bottom: 5px;

}

.copyright 
{ 
  font-size: 12px;
  color: #6d6e70;
  padding-top: 5px;
  padding-bottom: 5px;
  }

q { 
    font-style: italic;
 }

.member-quote
{ 
  width: 650px;
  }

.member-image
{
  width: 250px;
  
  }
