---
layout: none
title: Firehose Costs
---

{% include header.inc %}

<h1>Firehose Costs</h1>

<p> A firehose API provides a raw stream of updates to content published in (near) real time.  This stream of content can be faster and cheaper for websites like <a href="http://twitter.com">Twitter</a> or <a href="http://status.net">Status.net</a> to serve (vs having a crawler index the content).</p>

<p>One criticism that websites often make is that hosting raw and realtime access to their content would be prohibitively expensive.  As we will show, this is simply not the case.</p>

</p>

<h2>Microblogging</h2>

<p>At the time of this writing, Twitter is indexing about 300M tweets per day.  If we were to break this down into the costs to serve this API we would have:</p>

<h3>Bandwidth costs</h3>

<table width="500">
<tr><td><b>posts per day: </b></td>                    <td>600M</td></tr>
<tr><td><b>bytes per month <sup>1</sup>: </b></td>     <td>2.5TB</td></tr>
<tr><td><b>bytes per month compressed <sup>2</sup>: </b></td>     <td>830GB</td></tr>
<tr><td><b>price per month <sup>3</sup>: </b></td>     <td>$1,159</td></tr>
</table>

<p>
<small>
    1. 150 bytes for the max post length plus say 4000 bytes for metadata multipled by number of posts per day multipled by 30 days in a month.  The number we selected for tweets per month was <a href="http://news.cnet.com/8301-1023_3-57541566-93/report-twitter-hits-half-a-billion-tweets-a-day/">a bit liberal</a>.<br/>
    2. Compression (gzip) is often used to transfer the content and a 3x compression ratio is reasonable. <br/>
    3. Bytes per month multipled by $0.05 which is Softlayer's price for 2TB of bandwidth.  
</small>
</p>

<h3>Hardware costs</h3>

<p>The above numbers are just for bandwidth.  Hardware is another important cost.  Generally speaking, one server handle multiple API customers.</p>

<table width="500">
<tr><td><b>Mbps for content transfer per client:<sup>1</sup>: </b></td>     <td>76Mbps</td></tr>
<tr><td><b>Clients per server: <sup>2</sup></b></td>                        <td>13</td></tr>
<tr><td><b>Typical per month server cost: <sup>3</sup></b></td>             <td>$500 USD</td></tr>
<tr><td><b>Cost per client: <sup>4</sup></b></td>                           <td>$38.43 USD</td></tr>
</table>

<p>
<small>
1.  Bytes per month divided by the number of seconds in a months multiplied by 8 (since there are 8 bites per byte). <br/>
2.  A typical commodity server can transfer 1000Mbit/s (gigabit).  This is simply 1000 / content tranfer per client. <br/>
3.  $500 per month is a reasonable cost for Amazon, Softlayer, or Rackspace hosting. <br/>
4.  This is simply the $500 server price divided by the clients per server.
</small>
</p>

<h2>Conclusion</h2>

<p>The price per connection is about $1,159 for transfer plus $38 per connection.  $1,198 seems a reasonable API cost for basic transport.  We're not talking about thousands of clients here.  Further, we are more than fine with hosting providers paying for their transfer costs to provide fair and reasonable access to 3rd parties.</p>

<p>
Pricing for a blogging service would be higher considering blog posts are usually longer.  About 5-10x is a reasonable multiplier.
</p>

{% include footer.inc %}

